@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  p,li, h1,h2,h3 {
    @apply text-slate-700;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    @apply font-bold;
  }

  button {
    @apply rounded-md px-3 py-2;
  }
}

@layer components {
  .container {
    padding: 60px 7rem;
  }
}